<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kantek.pray">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:name=".utils.Application"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <meta-data
            android:name="DB_NAME"
            android:value="v2.db" />
        <meta-data
            android:name="DB_VERSION"
            android:value="2" />

        <activity
            android:name=".ui.main.SplashActivity"
            android:theme="@style/AppThemeBlack">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.main.MainActivity"
            android:theme="@style/AppThemeBlack"/>
        <activity android:name=".ui.list_alarm.ListAlarmActivity"
            android:theme="@style/AppThemeBlack"/>
        <activity android:name=".ui.detail_koran.DetailKoranActivity"
            android:theme="@style/AppThemeBlack"/>
        <activity android:name=".ui.detail_setting.DetailAlarmActivity"
            android:theme="@style/AppThemeBlack"/>
        <activity android:name=".ui.detail_setting.ShowDetailAlarmActivity"
            android:theme="@style/AppThemeBlack"/>
        <activity android:name=".ui.detail_setting.Notification.NotificationAlarmActivity"
            android:theme="@style/AppThemeBlack"/>

        <activity android:name=".ui.list_koran.ListKoranActivity"
            android:theme="@style/AppThemeBlack"/>

        <receiver android:name=".services.AlarmReceiver" />

        <service
            android:name=".services.RingtonePlayingService"
            android:enabled="true"></service>
    </application>

</manifest>